body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    border-radius: 30px;
    background: beige;
    padding: 8px;
    margin: 8px;
    display: flex;
    justify-content: center;
    font-size: 32px;
}


ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}

li {
    border-radius: 30px;
    background: rgb(245, 245, 166);
    font-size: 24px;
    list-style: none;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}

a {
    text-decoration: none;
    color: rgb(85, 85, 85);
    
    transition: all 0.2s ease;
}
 .footer {
    border-radius: 10px;
    margin-top: auto;
    background: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 32px;
    font-size: 24px;
    font-weight: 700;
    
 }

 #homepage {
    background:rgb(245, 245, 166);
    padding: 8px;
    border-radius: 16px;
    transition: all 0.2s ease;
 }

 a:hover, #homepage:hover {
    filter: brightness(0.8);
 }